<!-- dashboard.component.html -->
<app-navbar></app-navbar> 

<h2>Available Products</h2>
<!-- Search Bar -->
<div class="search-container">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search products..." />&nbsp;&nbsp;&nbsp;
  <button (click)="searchProducts()">Search</button>
</div>
<table class="products-table">
  <tr>
    <th>Product Name</th>
    <th>Description</th>
    <th>Preview</th>
    <th>Price</th>
    <th>Available Stock</th>
    <th>Order Quantity</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>
      <img 
      [src]="product.image_url ? product.image_url : 'assets/img/loading.jpg'" 
      alt="Product Image" 
      class="product-image"
    />
    </td>
    
    
    <td>{{ product.price }}</td>
    <td>{{ product.stock }}</td>
    <td>
      <input [(ngModel)]="product.orderQuantity" type="number" min="1" [max]="product.stock" placeholder="Enter quantity" />
    </td>
    <td>
      <button (click)="addToCart(product)">Add to cart</button>
    </td>
  </tr>
</table>
   <!-- Pagination Controls -->
   <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
