<!-- <div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
      </div>
      <button type="submit">Submit</button>
    </form>
    <p *ngIf="message">{{ message }}</p>
  </div>
   -->

   <div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="white" class="bi bi-lock" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
      </svg>
      <h1 style="color: white;">Forgot Password</h1>
    <form (ngSubmit)="onSubmit()" #forgotForm="ngForm">
        <div>
      <label>Email:</label><br>
      <input type="email" [(ngModel)]="email" name="email" required  #emailInput="ngModel" placeholder="Enter your email"/>
      <div *ngIf="emailInput.invalid && emailInput.touched">
        <small style="color: red;">Valid email is required.</small>
      </div>
      </div>
      <div>
      <button type="submit">Send Reset Link</button>
      </div>
    </form>
    <p>{{ message }}</p>
  </div>
  