<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OrderOnline</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <app-navbar></app-navbar> 
</head>
<body>
  <app-navbar></app-navbar>
<div class="home-container">
  <header class="home-header">
    <h1>Welcome to Online Order!</h1>
    <p>Your one-stop for placing orders, managing orders and user data.</p>
  </header>

  <!-- only seen by admin -->
  <section *ngIf="userRole === 'admin'" class="features" style="cursor: pointer;" (click)="goToAdmin('orders')">
    <h2>Admin Features</h2>
    <div class="feature-list">
      <div class="feature-item">
        <h3>Manage Orders</h3>
        <p>Track and manage orders in a seamless manner. View all details about your orders and easily update them.</p>
      </div>
      <!-- <div class="feature-item">
        <h3>More features loading...</h3>
        <p>User roles and more.</p>
      </div> -->
      <div class="feature-item"  (click)="goToAdmin('products')">
        <h3>Products Dashboard</h3>
        <p>Get detailed insights of products. See real-time stock on hand.</p>
      </div>
    </div>
  </section>

  <!-- seen by users only -->
  <section *ngIf="userRole === 'user'" class="features" style="cursor: pointer;" (click)="goToDashboard('orders')">
    <h2>User Features</h2>
    <div class="feature-list">
      <div class="feature-item" (click)="goToDashboard('orders')">
        <h3>Order History</h3>
        <p>View all your past orders and track their status.</p>
      </div>
      <div class="feature-item" (click)="goToDashboard('products')">
        <h3>Product Catalog</h3>
        <p>Browse through our product catalog and place orders easily.</p>
      </div>
    </div>
  </section>
</div>

</body>
</html>
