<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OrderOnline</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <app-navbar></app-navbar> 
</head>
<body>
  <app-navbar></app-navbar>
<div  class="home-container">
  <header *ngIf="userRole === 'admin' || userRole === 'user'" class="home-header">
    <h1>Welcome to Online Order!</h1>
    <p>Your one-stop for placing orders, managing orders and user data.</p>
  </header>

   <!-- only seen by inactive account -->
   <section *ngIf="userRole === 'Inactive'" class="features" style="cursor: pointer;">
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.5 3.5 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.5 4.5 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
    </svg>
    <h2>Account currently inactive</h2>
    <p>Please contact Admin &#64;Deviieydevendranath&#64;gmail.com if you would like to revoke your profile.</p>
  </section>
  <!-- only seen by admin -->
  <section *ngIf="userRole === 'admin'" class="features" style="cursor: pointer;" (click)="goToAdmin('orders')">
    <h2>Admin Features</h2>
    <div class="feature-list">
      <div class="feature-item">
        <h3>Manage Orders</h3>
        <p>Track and manage orders in a seamless manner. View all details about your orders and easily update them.</p>
      </div>

      <div class="feature-item"  (click)="goToAdmin('products')">
        <h3>Products Dashboard</h3>
        <p>Get detailed insights of products. See real-time stock on hand.</p>
      </div>

      <div class="feature-item"  (click)="goToAdmin('products')">
        <h3>Registered Users</h3>
        <p>Get detailed information about registered users.</p>
      </div>

    </div>
  </section>

  <!-- seen by users only -->
  <section *ngIf="userRole === 'user'" class="features" style="cursor: pointer;" (click)="goToDashboard('orders')">
    <h2>User Features</h2>
    <div class="feature-list">
      <div class="feature-item" (click)="goToOrders()">
        <h3>Order History</h3>
        <p>View all your past orders and track their status.</p>
      </div>

      <div class="feature-item" (click)="goToDashboard('products')">
        <h3>Product Catalog</h3>
        <p>Browse through our product catalog and place orders easily.</p>
      </div>

      <div class="feature-item" (click)="goToCart()">
        <h3>View Cart</h3>
        <p>Review order before purchasing.</p>
      </div>
    </div>
  </section>
</div>

</body>
</html>
