<app-navbar></app-navbar>
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OrderOnline</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  
</head>
<body>
<div class="home-container">
  <header class="home-header">
    <h1>Welcome to Online Order!</h1>
    <p>Your one-stop for placing orders, managing orders and user data.</p>
  </header>

  <section class="features">
    <h2>Features</h2>
    <div class="feature-list">
      <div class="feature-item">
        <h3>Manage Orders</h3>
        <p>Track and manage orders in a seamless manner. View all details about your orders and easily update them.</p>
      </div>
      <div class="feature-item">
        <h3>More features loading...</h3>
        <p>User roles and more.</p>
      </div>
      <!-- <div class="feature-item">
        <h3>Analytics Dashboard</h3>
        <p>Get detailed insights into your business with an interactive dashboard. See real-time statistics and trends.</p>
      </div> -->
    </div>
  </section>

  <!-- <section class="cta">
    <h2>Get Started Now!</h2>
    <p>Sign up or log in to start ordering or managing your orders.</p> 
  <button [routerLink]="'/'" class="cta-button">Login</button>
  <button [routerLink]="'/register'" class="cta-button">Register</button>
  </section> -->
</div>

</body>
</html>
