<app-navbar></app-navbar> 

<h2>Your Orders</h2>

<!-- <table>
  <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Order Date</th>
      </tr>
    </thead>
  <tr *ngFor="let order of orders">
    <td>{{ order.product_name }}</td>
    <td>{{ order.quantity }}</td>
    <td>{{ order.status }}</td>
    <td>{{ formatOrderDate(order.order_date) }}</td>
  </tr>
</table> -->

<div *ngFor="let orderDate of groupedOrders | keyvalue">
  <h3 class="order-date"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"/>
    <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
  </svg>&nbsp;{{ orderDate.key }}</h3> <!-- Styled Date Header -->
  <table class="orders-table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderDate.value">
        <td>{{ order.product_name }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.order_date | date: 'shortTime'}}</td>
        <td>{{ order.status }}</td>
      </tr>
    </tbody>
  </table>
</div>

