<div class="container">
  <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="white" class="bi bi-person-check" viewBox="0 0 16 16">
    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
  </svg>
    <h1 style="color: white;"  >Register</h1>
    <form (ngSubmit)="registerUser()" #registerForm="ngForm">
      <div>
      <label for="name">Name:</label><br>
      <input type="text" id="name"  [(ngModel)]="user.name" name="name" required #nameInput="ngModel"
      placeholder="Enter your name">
      <div *ngIf="nameInput.invalid && nameInput.touched">
        <small style="color: red;">Valid name is required.</small>
      </div>  
    </div>
      <br>
      <div>
      <label for="email">Email:</label><br>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" required #emailInput="ngModel"
      placeholder="Enter your email">
      <div *ngIf="emailInput.invalid && emailInput.touched">
        <small style="color: red;">Valid email is required.</small>
      </div>
      </div>
      <br>
      <div>
      <label for="password">Password:</label><br>
      <input type="password" id="password"  [(ngModel)]="user.password" name="password" required  minlength="6"
      #passwordInput="ngModel"
      placeholder="Enter your password">
      <div *ngIf="passwordInput.invalid && passwordInput.touched">
        <small style="color: red;">Password must be at least 6 characters.</small>
      </div>  
    </div>
      <br>
      <div>
      <!-- Role selection (Optional: Only allow role selection for admins) -->
      <label for="role">Role:</label><br>
      <select [(ngModel)]="user.role" name="role">
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
  