<app-navbar></app-navbar>
<div class="user-registered-container">
    <h2>Registered Users</h2>
    <div *ngIf="showToast" class="toast">
      <div class="toast-content">
        <span class="toast-icon">✅</span>
        <p>User details updated successfully!</p>
        <button class="close-btn" (click)="showToast = false">&times;</button>
      </div>
      <div class="toast-progress"></div>
    </div>
     <!-- Search Bar -->
     <div class="search-container">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search users..." />&nbsp;&nbsp;&nbsp;
        <button (click)="searchUsers()">Search</button>
    </div>
    
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Gender</th>
          <th>Date of Birth</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of paginatedUsers">
            <ng-container *ngIf="!user.editMode; else editForm">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ formatOrderDate(user.dob) }}</td>
          <td>
            <button (click)="toggleEdit(user)" class="editBTN">Edit</button>
          </td>
        </ng-container>
        <ng-template #editForm>
          <td><input [(ngModel)]="user.name" /></td>
          <td><input [(ngModel)]="user.email" /></td>
          <td>
            <select [(ngModel)]="user.role">
                <option value="User">User</option>
              <option value="Admin">Admin</option>
              <option value="Inactive">Deactivate</option>
            </select>
        </td>

          <td><input [(ngModel)]="user.phone" /></td>
          <td><input [(ngModel)]="user.address" /></td>
          <td>
            <select [(ngModel)]="user.gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </td>
          <td><input type="date" [(ngModel)]="user.dob" /></td>
          <td>
            <button (click)="saveUser(user)">Save</button>
            <button (click)="cancelEdit(user)">Cancel</button>
          </td>
        </ng-template>
        </tr>
      </tbody>
    </table>

     <!-- Pagination Controls -->
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
  </div>